.navbar {
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 2rem;
    font-family: 'Arial', sans-serif;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo {
    height: 50px;
    /* Adjust size accordingly */
}

.navbar-links {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-size: 16px;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s;
}

.nav-link:hover,
.nav-link:focus {
    color: #bbb;
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
}
