.login-form label {
    font-weight: bold;
    color: #555555;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.login-button,
.google-login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button {
    background-color: #007bff;
    color: #ffffff;
}

.login-button:hover {
    background-color: #0056b3;
}

.google-login-button {
    background-color: #dd4b39;
    color: #ffffff;
}

.google-login-button:hover {
    background-color: #cc3d2f;
}

.login-or {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

.google-login-button .fc {
    vertical-align: middle;
}
